.error {
    color: #FFFFFF;
    padding: 0px 10px;
    font-size: 72px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    margin-bottom: 10px;
    padding-top: 120px;
}