.map-container {
    width: 500px;
    height: 500px;
    border-radius: 30px;
}

.map-around {
    display: flex;
    width: 500px;
    margin-top: 150px;
    margin-left: 500px;
}

.club-array {
    display: flex;
    flex-direction: row;
}
