.weekday {
    color: #FFFFFF;
    font-family: 'Arimo', sans-serif;
    font-size: 14px; 
    padding: 5px;
}

.weekday:hover {
    cursor: pointer;
    color: #FFFFFF99;
}

.weekday-classes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 40px;
}

.weekday::selection {
    color: #FFFFFF99;
}


.class-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-title {
    color: #FFFFFF;
    padding: 20px 5px;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
    margin-top: 15px;
}

.class-container {
    padding-top: 75px;
}

.show-class-info {
    padding-top: 50px;
    width: 50%
}

.weekday-selected {
    background-color: white;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}

.add-class-button {
    letter-spacing: 1px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 120px;
    min-width: 50px;
    padding: 7px 15px;
    border-radius: 10rem;
    align-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    margin-left: 500px;
}

.add-class-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.add-class-button:hover {
    background-color: #d1d1d1;
}




