.hero-container {
    width: 100vw;
    height: fit-content;
    position: relative;
    padding-top: 100px;
}

.greeting {
    position: absolute;
    bottom: 15%;
    left: 5%;
}

.second-greeting {
    position: absolute;
    width: 300px;
    background-color: white;
    height: 300px;
    left: 30px;
    top: 860px;
    padding: 30px;
}

.third-greeting {
    position: absolute;
    width: 300px;
    background-color: black;
    height: 300px;
    left: 30px;
    top: 1860px;
    padding: 30px;

}

.side-by-side-container {
    display: flex;
    flex-direction: row;
    height: 900px;
}

.side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.side-by-side img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.hero-big {
    font-size: 120px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 60%;
}

.second-big {
    font-size: 56px;
    font-family: 'League Gothic', sans-serif;
    color: #000000;
    margin-bottom: 40px;
    
}

.second-little {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    color: #000000;

}

.hero-little {
    font-size: 40px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
}

.squat {
    width: calc(100vw - 698px);
}

.vid {
    width: 698px;
}

.third-big {
    font-size: 56px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.third-little {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.three-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.single-div:hover {
    background-color: #FFFFFF;
    
}

.single-div:hover p {
    color: #000000;
}

.single-div:hover h1 {
    color: #000000;
}

.single-div {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    border-top: 2px solid #FFFFFF;
    margin-top: 700px;
}

.single-div p {
    padding: 15px;
}