.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: relative;
    padding-top: 100px;
}

.hero-container-others {
    width: 100vw;
    height: fit-content;
    position: relative;
}

.row-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  
}

.background-image-gym {
    background-image: url('../../../public/gym.jpg');
}

.background-image-nyc {
    background-image: url('../../../public/equinoxny.jpg');

}

.background-image-video {
    height: fit-content;
    position: relative;
}

video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.greeting {
    margin-top: 120px;
    margin-left: 120px;
    position: absolute;
    z-index: 2;

}

.second-greeting {
    width: 300px;
    background-color: white;
    height: 300px;
    padding: 30px;
    margin: 100px;
}

.third-greeting {
    width: 300px;
    background-color: black;
    height: 300px;
    padding: 30px;
    margin: 100px;
}

.side-by-side-container {
    display: flex;
    flex-direction: row;
    height: 900px;
}

.side-by-side {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.side-by-side img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.hero-big {
    font-size: 120px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 60%;
}

.second-big {
    font-size: 56px;
    font-family: 'League Gothic', sans-serif;
    color: #000000;
    margin-top: 5px;
    
}

.second-little {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    color: #000000;
    margin-top: 30px;

}

.hero-little {
    font-size: 40px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
}

@media screen and (max-width: 1200px) {
    .greeting {
        margin-top: 5px;
    }
    .hero-big {
        font-size: 70px
    }

    .hero-little {
        font-size: 30px
    }
}

@media screen and (max-width: 670px) {
    .greeting {
        margin-top: 70px;
    }

    .hero-big  {
        font-size: 40px
    }

    .hero-little  {
        font-size: 20px
    }

    .third-big, .second-big {
        font-size: 30px;
    }

    .third-little, .second-little {
        font-size: 15px;
    }


}

.squat {
    width: calc(100vw - 698px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../public/squat.jpg');
}

.vid {
    width: 698px;
}

.third-big {
    font-size: 56px;
    font-family: 'League Gothic', sans-serif;
    color: #FFFFFF;
    margin-top: 5px;
}

.third-little {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    color: #FFFFFF;
    margin-top: 30px;

}

.three-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 750px;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 1, 1, 0.2);
    width: 100%;
}

.single-div:hover {
    background-color: #FFFFFF;
}

.single-div:hover p {
    color: #000000;
}

.single-div:hover h1 {
    color: #000000;
}

.single-div {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    border-top: 2px solid #FFFFFF;
    padding: 20px;
}




