.login-logo {
    width: auto;
    height: 17px;
    display: flex;
    margin-top: -50px;
    margin-bottom: 50px;
    
}

.sign-in-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 150px;
}

.sign-in-content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    max-width: 400px;
}

.sign-in{
    color: #FFFFFF;
    padding: 0px 10px;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
}

.credential-label{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.15;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
}

.line {
    border: none;
    color: white;
    height: 2rem;
    background-color: black;
    border-bottom-style: groove;
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
    
}

.sign-in-bottom {
    color: #FFFFFF;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}

.demo {
    letter-spacing: 1px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: auto;
    min-width: 200px;
    margin: 10px 86px 10px;
    padding: 14px 30px;
    border-radius: 10rem;
    align-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


a:visited {
    color: #FFFFFF;
}


.button {
    letter-spacing: 1px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-width: 200px;
    margin: 70px 0px;
    padding: 14px 30px;
    border-radius: 10rem;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 8rem;
}

.button:hover {
    background-color:#d1d1d1
}

.demo:hover {
    background-color: #d1d1d1
}

.sign-up {
    text-align: center;
    align-items: center;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.errors {
    color: red;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    align-content: center;
}

input {
    color: #FFFFFF;
}
