
.errors {
    color: red;
}

label {
    color: #FFFFFF;
}

.sign-up-form-button {
    letter-spacing: 1px;
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: auto;
    min-width: 200px;
    margin: 20px 86px 0px;
    padding: 14px 30px;
    border-radius: 10rem;
    align-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.sign-up-form-button:hover {
    background-color: #d1d1d1
}

.inputs {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 14px;
    line-height: 1.15;
    font-family: 'Arimo', sans-serif;
}

.sign-up-logo {
    color: #FFFFFF;
    padding: 0px 10px;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'League Gothic', sans-serif;
}
.eqx-logo {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 110px;

}

.errors {
    color: red;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    list-style: none;
    align-items: center;
}

.around-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}