
.nav-buttons {
    align-items: center;
}

.top-bar {
    text-decoration: none;
    color: #FFFFFF99;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    margin-top: .70rem;
    margin-left: 5rem;
    margin-right: 5rem;
    list-style: none;
}

.top-bar:hover {
    color: #FFFFFF;
}

.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.right-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.eqx-nav-logo {
    height: 22px;
    margin-left: 120px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}

